<% include _header %>
<head>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="./main.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <style type="text/css">  
        .body{width:400px;;}  
        .form{width:300px; margin : auto;}  
        /* #login_form{display: block;}  
        #register_form{display: none;}  
        .fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}  
        input[type="text"],input[type="password"]{padding-left:26px;}  
        .checkbox{padding-left:21px;}   */
    </style>
</head>

<h1>Log in</h1>

<body>
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
               <div class="panel-title text-center">
                       <h1 class="title">login</h1>
                       <hr />
                   </div>
            </div> 
            <div class="form main-login main-center">
                <form class="form-horizontal" method="post" action="/login" method="post">                                            

                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input name="username" type="text" class="form-control" id="username"  placeholder="Enter your Username" required autofocus/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-10 control-label">Password</label>
                        <div class="cols-sm-5">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" required/>
                            </div>
                        </div>
                    </div> 
                    <div class = "form-group">   
                        <button type="submit" class="btn btn-primary btn-md btn-block ">log in</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>

<!-- <body>
    <div class="container">
<form action="/login" method="post">
    <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <input type="submit" value="Log in" class="btn btn-primary btn-block">
</form>
</body> -->
<% include _footer %>